# Node dependencies
node_modules/
mock-backend/node_modules/

# Environment files
.env
*.env
app.env
mock-backend/app.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
